@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
    .border-1px::after{
        -webkit-transform: scaleY(0.7);
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    .border-1px::after{
        -webkit-transform: scaleY(0.5);
    }
}
.border-1 {
    position: relative;
}

.border-1:after {
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    border-top: 1px solid rgba(7, 17, 27, 0.1);
    content: '';
    z-index: 2;
}
.border-none:last-child:after{
    display:none;
}


body,html{
    line-height:1;
    font-weight:200;
    font-family:'PingFang SC';
}

.clearfix{
    display:inline-block;
}
.clearfix:after{
    display:block;
    content:".";
    height:0;
    line-height:0;
    clear:both;
    visibility:hidden;
}
