.fit-main{
	width: 1200px;
	margin: 0 auto;
	@media screen and (max-width: 1200px) {
		width: 1000px;
	}
	@media screen and (max-width: 1000px) {
		width: 800px;
	}
}
[v-cloak] {
	display: none;
}
body, html{
	background: #f0f0f0;
	font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;

}
html{
	font-size: 20px;
}