<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta width="content-width"/>
    <title>IFC内联格式化上下文</title>
    <style>
        *{
        	margin: 0;
        	padding: 0;
        }
        .wrapper{
        	height: 40px;
        	background: red;
        	font-size: 0;
        	display: inline-block;
        }
        .item{
        	font-size: 16px;
        }
        .item2{
        	font-size: 20px;
        }
        .fl{
        	float: left;
        }
    </style>
    

</head>
<body>
	<div class="wrapper">
		<span class="item">北京</span>
		<span class="item2 fl">上海</span>
	</div>
</body>
</html>
