<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta width="content-width"/>
    <title>padding</title>
    <style>
        *{
            padding: 0;
            margin: 0;
        }
        #div1{
            width: 200px;
            /*height: 100px;*/
            background: red;
        }
        #div2{
            /*width: 200px;*/
            /*height: 100px;*/
            background: yellow;
            padding-bottom: 56.25%;
            background: url("../../static/image/fengjing.jpg");
            background-size: cover;
        }
    </style>
</head>
<body>
<!--<div id="div1">-->
    <div id="div2"></div>
<!--</div>-->
</body>
</html>
