@mixin bg($url) {
	background-image: url($url);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.foca{
	&-banner{
		width: 100%;
		min-width: 1200px;
		height: 931px;
		@include bg('/static/images/foca/main-bg.png');
		background-color: #520000;
		overflow: hidden;
		&__wrapper{
			width: 1200px;
			height: 503px;
			margin: 95px auto 0;
			@include bg('/static/images/foca/banner-bg.png');
			background-size: 1145px 503px;
			border: 1px solid transparent;
			position: relative;
			&--share{
				width: 145px;
				height: 174px;
				@include bg('/static/images/foca/share.png');
				position: absolute;
				right: -42px;
				top: 39px;
				cursor: pointer;
			}
			&--time{
				width: 614px;
				height: 240px;
				@include bg('/static/images/foca/banner-time.png');
				margin: 101px auto 0;
				text-align: center;
				box-sizing: border-box;
			    padding-top: 124px;
    			padding-bottom: 20px;
				display: flex;
				align-items: center;
				justify-content: center;
				color: #FEE2B2;
				font-size: 24px;
				font-weight: 400;
				span{
					display: inline-block;
				}
				&_item{
					width: 24px;
					height: 30px;
					text-align: center;
					@include bg('/static/images/foca/time-bg.png');
					margin: 0 5px;
				}
			}
			&--loop{
				width: 280px;
				height: 30px;
				font-size: 14px;
				color: #FFEA86;
				background: rgba(255,0,0,0.30);
				letter-spacing: 0;
				line-height: 26px;
				border-radius: 30px;
				margin: 0 auto;
				display: flex;
				align-items: center;
				span{
					display: inline-block;
					vertical-align: middle;
				}
				&_icon{
					width: 14px;
					flex: 0 0 14px;
					height: 14px;
					margin-left: 22px;
					margin-right: 10px;
					text-align: center;
					@include bg('/static/images/foca/loop.png');
				}
				.swiper-container{
					height: 30px;
					overflow: hidden;
					flex: 1;
					.swiper-slide{
						line-height: 30px;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
					}
				}
			}
		}
	}
	&-main{
		background: #750B0B;
		box-shadow: 0 0 75px 82px #750B0B;
		border: 1px solid transparent;
		position: relative;
		z-index: 2;
		&__wrapper{
			width: 1200px;
			height: 800px;
			margin: -452px auto 0;
			@include bg('/static/images/foca/foca-bg.png');
			overflow: hidden;
			position: relative;
			&.money{
				height: 555px;
				background-image: url('/static/images/foca/foca-money.png');
				background-size: contain;
			}
			&--foca{
				display: flex;
			    justify-content: center;
			    margin-top: 108px;
				&_item{
				    width: 219px;
    				height: 313px;
				    // margin-right: 9px;
					position: relative;
					@include bg('/static/images/foca/foca-none-0.png');
					.number{
						width: 68px;
						height: 68px;
						position: absolute;
					    right: -3px;
    					top: -5px;
						color: #FFEA86;
						font-size: 24px;
					    line-height: 60px;
					    padding-left: 3px;
					    box-sizing: border-box;
						text-align: center;
						@include bg('/static/images/foca/number-bg.png');
					}
					&:last-child{
						margin-right: 0;
					}
					&.foca-none-0{
						background-image: url('/static/images/foca/foca-none-0.png');
					}
					&.foca-none-1{
						background-image: url('/static/images/foca/foca-none-1.png');
					}
					&.foca-none-2{
						background-image: url('/static/images/foca/foca-none-2.png');
					}
					&.foca-none-3{
						background-image: url('/static/images/foca/foca-none-3.png');
					}
					&.foca-none-4{
						background-image: url('/static/images/foca/foca-none-4.png');
					}
					&.foca-has-0{
						background-image: url('/static/images/foca/foca-has-0.png');
					}
					&.foca-has-1{
						background-image: url('/static/images/foca/foca-has-1.png');
					}
					&.foca-has-2{
						background-image: url('/static/images/foca/foca-has-2.png');
					}
					&.foca-has-3{
						background-image: url('/static/images/foca/foca-has-3.png');
					}
					&.foca-has-4{
						background-image: url('/static/images/foca/foca-has-4.png');
					}
				}
			}
			&--button{
				width: 160px;
				height: 44px;
				margin: 3px auto 0;
				line-height: 44px;
				text-align: center;
				font-size: 18px;
				color: #A9180F;
				@include bg('/static/images/foca/foca-btn.png');
				span{
					opacity: 0.3;
				}
				&.can{
					cursor: pointer;
					span{
						opacity: 1;
					}
				}
			}
			&--tips{
				width: 456px;
				height: 14px;
				margin: 31px auto 0;
				@include bg('/static/images/foca/tips-bg.png');
			}
			&--wait{
				width: 518px;
				height: 320px;
				margin: 107px auto 0;
				@include bg('/static/images/foca/wait-foca.png');
			}
			&--money{
				text-align: center;
				&_title{
					color: #C13D33;
					font-size: 24px;
					text-align: center;
					margin-top: 130px;
					margin-bottom: -10px;
				}
				&_number{
					color: #C13D33;
					font-size: 24px;
					span{
						font-size: 96px;
					}
				}
				&_tips{
					font-size: 16px;
					color: #C13D33
				}
				&_button{
					margin: 47px auto 0;
					width: 160px;
					height: 44px;
					line-height: 44px;
					color: #A9180F;
					font-weight: 600;
					cursor: pointer;
					font-size: 18px;
					@include bg('/static/images/foca/foca-btn.png');
				}
			}
			&--step{
				display: flex;
				justify-content: space-around;
				position: absolute;
				left: 0;
				bottom: 55px;
				width: 100%;
				&_item{
					padding-top: 120px;
					@include bg('/static/images/foca/step1.png');
					background-size: 100px 100px;
					background-position: center top;
					text-align: center;
					font-size: 16px;
					color: #FBD593;
					font-weight:400;
					&.step2{
						background-image: url('/static/images/foca/step2.png');
					}
					&.step3{
						background-image: url('/static/images/foca/step3.png');
					}
					&.step4{
						background-image: url('/static/images/foca/step4.png');
					}
				}
			}
		}
		&__tips{
			color: #F9D192;
			font-size: 12px;
			opacity: 0.5;
			text-align: center;
			padding: 20px 0;
		}
	}
}
.combine{
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background: rgba(0,0,0,.8);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 200;
	&-roll{
		width: 124px;
		height: 124px;
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -62px;
		margin-top: -62px;
		z-index: 2;
		&.roll{
			animation: roll 1s linear;
		}
		&::after{
			content: '';
			position: absolute;
			top: -145px;
			left: 50%;
			margin-left: -46px;
			width: 92px;
			z-index: 3;
			height: 92px;
			@include bg('/static/images/foca/zhua.png');
		}
		&__icon{
			position: absolute;
			width: 92px;
			z-index: 3;
			height: 92px;
			&.fan{
				left: -126px;
    			bottom: 62px;
				@include bg('/static/images/foca/fan.png');
			}
			&.xin{
				bottom: -109px;
				left: -77px;
				@include bg('/static/images/foca/xin.png');
			}
			&.chun{
				bottom: -109px;
				left: 104px;

				@include bg('/static/images/foca/chun.png');
			}
			&.ying{
				left: 152px;
				bottom: 62px;
				@include bg('/static/images/foca/ying.png');
			}
		}
	}
	&-button{
		width: 124px;
		height: 124px;
		@include bg('/static/images/foca/combine-bt.png');
		position: relative;
		z-index: 5;
		cursor: pointer;
		&::before{
			content: '';
			position: absolute;
			top: -42px;
			left: -13px;
			width: 146px;
			height: 32px;
			@include bg('/static/images/foca/combine-tips.png');
		}
	}
	&-result{
		position: absolute;
		left: 50%;
		top: 50%;
		display: flex;
		align-items:center;
		flex-direction: column;
		transform: translateX(-50%) translateY(-50%);
		&__image{
			width: 202px;
			height: 280px;
			@include bg('/static/images/foca/fu.png');
			margin-bottom: 43px;
			position: relative;
			&::before{
				content: '';
				position: absolute;
				left: -55px;
			    top: 17px;
			    width: 85px;
			    height: 84px;
				@include bg('/static/images/foca/fuyun1.png');
				background-size:contain;
			}
			&::after{
				content: '';
				position: absolute;
			    left: 157px;
		    	bottom: 16px;
			    width: 122px;
	    		height: 62px;
				@include bg('/static/images/foca/fuyun2.png');
			}
		}
		&__button{
			width: 160px;
			height: 44px;
			line-height: 44px;
			text-align: center;
			@include bg('/static/images/foca/fu-bt.png');
			background-size: contain;
			color: #A9180F;
			font-size: 18px;
			font-weight: 600;
			cursor: pointer;
			&:hover{
				color: #670600;
			}
			&:active{
				color: #A9180F;
			}
		}
	}
}
@keyframes roll{
	0%{
		transform: rotate(0) scale(1);
		opacity: 1;
	}
	100%{
		transform: rotate(720deg) scale(0.2);
		opacity: 0;
	}
}