@import "theme.scss";
.wrapper{
	min-height: 35rem;
	padding-top: 1rem;
	display: flex;
	&-main{
		flex: 1;
		overflow: hidden;
		&__title{
			height: 10rem;
			background: white;
			border-radius: 0.3rem;
			.icon{
				font-size: 1rem;
				color: $theme-color;
			}
		}
		&__list{
			height: 10rem;
			background: white;
			border-radius: 0.3rem;
			margin-top: 1rem;
			&--item{
				padding: 1rem;
				border-bottom: 1px solid #f6f6f6;
				cursor: pointer;
				transition: all 0.15s linear;
				&:hover{
					background: #f6f6f6;
				}
			}
		}
	}
	&-slide{
		width: 12.5rem;
		background: white;
		border-radius: 0.2rem;
		margin-left: 1rem;
	}
}