@import "./theme.scss";
.navigation{
	width: 100%;
	height: 70px;
	background: black;
	line-height: 70px;
	color: white;
	a{
		display: inline-block;
		color: #f2f2f2;
		font-size: 17px;
		padding: 0 10px;
		&:hover{
			color: white;
		}
		&:active{
			color: #f2f2f2;
		}
	}
}