$theme-bg-color: #F6F7FB;
$theme-nav-bg-color: #242424;
$theme-blue: #3B90FC;
$theme-blue-hover: #2366BA;

$theme-color: #2d8cf0;

@mixin bg($url) {
	background-image: url($url);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
