body{
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a{
	color: #00b7ff;
}
#content{
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}
#room{
	background: #ddd;
	margin-bottom: 1em;
}
#messages{
	width: 690px;
	height: 300px;
	overflow: auto;
	background: #eee;
	margin-bottom: 10px;
	margin-right: 10px;
}

#room-list{
	float: right;
	width: 100px;
	height: 300px;
	overflow: auto;
}
#room-list div{
	border-bottom: 1px solid #eee;
}
#room-list div:hover{
	background: #ddd;
}
#send-message{
	width: 700px;
	margin-bottom: 10px;
	margin-right: 10px;
}
#help{
	font-size: 12px;
}